# Переменные окружения API
# Серверные переменные
API_HOST=81.31.247.179
API_BASE_URL=http://81.31.247.179

# Клиентские переменные (с префиксом PUBLIC_)
PUBLIC_API_HOST=81.31.247.179
PUBLIC_API_BASE_URL=http://81.31.247.179
PUBLIC_API_FULL_URL=http://81.31.247.179/api/ 