---
import Layout from '../layouts/Layout.astro'
import { Introduction } from '../widgets/introduction'
import '../styles/global.css'
import '../styles/marquee.css'
import { News } from '../widgets/news'
import Marquee from '../shared/ui/marquee/ui/ui'
import { Memory } from '../widgets/memory'
import { Leisure } from '../widgets/our-leisure'
import { Map } from '../widgets/Map/ui/ui'
import { Managment } from '../widgets/managment'
---

<Layout>
    <div class="container pt-[80px]">
        <Introduction client:load />
    </div>

    <div class="bg-[#F0F2F9]">
        <div class="container py-[100px] px-4 sm:px-8 md:px-12">
            <News client:load />
        </div>
        <Marquee speed={200} />
        <div class="bg-white mt-[100px] py-14">
            <div class="container px-4 sm:px-8 md:px-12">
                <Managment client:visible />
            </div>
        </div>
        <div class="container py-[100px] px-4 sm:px-8 md:px-12">
            <Memory client:visible />
        </div>
        <div class="container py-[30px] px-4 sm:px-8 md:px-12">
            <Leisure client:visible />
        </div>

        <div class="container px-4 sm:px-8 md:px-12">
            <Map client:visible />
        </div>
    </div>
</Layout>

<style>
    .container {
        width: 100%; /* Теперь контейнер будет гибким */
        margin: 0 auto;
        max-width: 1200px; /* Ограничение ширины для больших экранов */
    }

    /* Дополнительные стили для адаптивности */
    @media (max-width: 640px) {
        .container {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
</style>
