---
import Layout from '../layouts/Layout.astro'
import { Introduction } from '../widgets/introduction'
import '../styles/global.css'
import '../styles/marquee.css'
import { News } from '../widgets/news'
import Marquee from '../shared/ui/marquee/ui/ui'
import { Memory } from '../widgets/memory'
import { Leisure } from '../widgets/our-leisure'
import { Managment } from '../widgets/managment'
import { fetchVeteransBirthday } from '@/shared/api/fetchVeteransBirthday'
import { fetchMemorials } from '@/shared/api/fetchMemorials'
import { fetchNewsFeed } from '@/shared/api/fetchNewsFeed'
import { MemorialsOverview } from '@/widgets/MemorialsOverview'

const birthdayData = await fetchVeteransBirthday()
const memorialsData = await fetchMemorials()
const newsData = await fetchNewsFeed()
---

<Layout>
    <div class="page-container">
        <Introduction client:load birthdayData={birthdayData} />
    </div>

    <div class="bg-[#F0F2F9]">
        <div class="page-container py-[100px]">
            <News client:load newsData={newsData} />
        </div>
        <Marquee speed={200} />
        <div class="bg-white mt-[100px] py-14" >
            <div class="page-container">
                <Managment client:visible />
            </div>
        </div>
        <div class="page-container py-[100px]">
            <Memory client:visible />
        </div>
        <!-- <div class="page-container py-[30px]">
            <Leisure client:visible />
        </div> -->

        <div class="bg-white">
            <div class="page-container py-[100px]">
                <MemorialsOverview client:visible memorialsData={memorialsData} />
            </div>
        </div>
    </div>
</Layout>

