---
import { NewsContent } from '@/widgets/newsContent'
import '../styles/global.css'
import '../styles/marquee.css'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
    <main class="container pt-[80px]">
        <NewsContent client:load />
    </main>
</Layout>

<style>
    .container {
        width: 100%; /* Теперь контейнер будет гибким */
        margin: 0 auto;
        max-width: 1200px; /* Ограничение ширины для больших экранов */
    }

    /* Дополнительные стили для адаптивности */
    @media (max-width: 640px) {
        .container {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
</style>
